
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  
  /* layout */
  .content {
    background-color: rgb(33, 40, 61);
    width: 50%;
    margin: auto;
    padding: 10px;
    height: 700px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    border-style: solid;
    border-color: rgb(134, 0, 0);
    border-width: 5px;
    line-height: 1.8;
    font-family: 'Montserrat', sans-serif;
  }
  
  select {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin: auto;
    border: none;
    border: 1px solid rgb(33, 40, 61);
    border-radius: 2px;
    padding: 10px 12px;
    font-family: 'Montserrat', sans-serif;
  }
  
  input[type=submit] {
    background-color: rgb(134, 0, 0);
    border: none;
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    margin: 10px 12px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }
